{% extends "student/student_index.html" %}
{% block title %}学生助教工作申请{% endblock %}
{#地址导航#}
{% block breadcrumb %}
        <li>
		    <i class="icon-home home-icon"></i>
			<a href="#">主页</a>
		</li>
        <li class="active">助教工作</li>
        <li class="active">志愿申报</li>
{% endblock %}
{% block content %}

{% if cur_config.state == "1" %}
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="header smaller lighter blue">助教工作志愿申报开启，最多可选
                        <strong class="green" id="maxnum_volunteer">{{cur_config.maxnum_volunteer}}</strong>
                        门课程
                    </h3>
                    <div class="table-header">
                        以下是可选择的课程
                    </div>
                    <div class="table-responsive">
                        <table id="sample-table-stuVol" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">
                                        <label>
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </th>
                                    <th>课程id</th>
                                    <th>课程名称</th>
                                    <th>学时</th>
                                    <th>选课人数</th>
                                    <th>授课教师</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in courses %}
                                    <tr>
                                        <td class="center  sorting_1">
                                        <label>
                                            <input type="checkbox" class="ace" onclick="checkboxOnclick(this)" value="{{course.course_id}}">
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                        <td>{{course.course_id}}</td>
                                        <td>{{course.course_name}}</td>
                                        <td>{{course.course_hours}}</td>
                                        <td>{{course.course_number}}</td>
                                        <td>{{course.course_teacher.teacher_name}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <hr>
    {% for i in range %}
        <div>
            <label for="form-field-select-2">第{{ i }}志愿</label>

            <select class="form-control" id="form-field-select-vol{{ i }}" multiple="multiple">
            </select>
        </div>
    {% endfor %}

    <hr>
    <div class="row">
        <button class="btn btn-lg btn-success">
            <i class="icon-ok"></i>
            下一步
        </button>
    </div>

{% else %}
    <h3 class="header smaller lighter blue">当前志愿申报未开启</h3>
{% endif %}

{% endblock %}