{% extends "manager/manager_index.html" %}
{#地址导航#}
{% block breadcrumb %}
        <li>
		    <i class="icon-home home-icon"></i>
			<a href="manager_own">主页</a>
		</li>
        <li class="active">系统管理</li>
        <li class="active">学术交流管理</li>
        <li class="active">增加学术交流</li>
{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="page-header">
            <h1>
                审核学生项目情况
                <small>
                    <i class="icon-double-angle-right"></i>
                    需要您与导师都进行审核方可通过
                </small>
            </h1>
        </div>
        {% if ache_lists %}
            {% for ache_list in ache_lists %}
                {% if ache_list %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        {% for key,value in ache_list.0.items %}
                                            <th>{{ key }}</th>
                                        {% endfor %}
                                        <th>操作</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    {% for ache_list_row in ache_list %}
                                        <tr>
                                            {% for key,value in ache_list_row.items %}
                                                <td>
                                                    {% if key == "材料" %}
                                                        <a href="/download_evidence?filename={{ value }}">
                                                            下载
                                                        </a>
                                                    {% elif key == "审核情况" %}
                                                        <span
                                                                {% if value == "通过" %}
                                                                    class="label label-sm label-success"
                                                                {% elif value == "未通过" %}
                                                                    class="label label-sm label-inverse arrowed-in"
                                                                {% else %}
                                                                    class="label label-sm label-warning"
                                                                {% endif %}
                                                        >{{ value }}</span>
                                                    {% else %}
                                                        {{ value }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                            <td>
                                                <button class="btn btn-xs btn-success"
                                                        onclick="window.location.href='/manager/manager_achievement_aduit/manager_pass_achievement?ache_id={{ ache_list_row.id }}'"
                                                >
                                                    <i class="icon-ok bigger-120"></i>
                                                </button>
                                                <button class="btn btn-xs btn-danger"
                                                        onclick="window.location.href='/manager/manager_achievement_aduit/manager_no_pass_achievement?ache_id={{ ache_list_row.id }}'"
                                                >
                                                    <i class="icon-trash bigger-120"></i>
                                                </button>
                                            </td>

                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div><!-- /.table-responsive -->
                        </div><!-- /span -->
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}