{% extends "manager/manager_index.html" %}
{#地址导航#}
{% block breadcrumb %}
        <li>
		    <i class="icon-home home-icon"></i>
			<a href="manager_own">主页</a>
		</li>
        <li class="active">信息录入</li>
        <li class="active">导师</li>
        <li class="active">基本信息</li>
{% endblock %}
{% block content %}
        <div class="page-content">
            <div class="page-header">
                <h1>
                    导师
                    <small>
                        <i class="icon-double-angle-right"></i>
                        基本信息
                    </small>
                </h1>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal" role="form" method="post">
                        <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">导师号 </label>

                                <div class="col-sm-9">
                                    <input type="text" name="t_b_search_id" id="form-field-1" placeholder="搜索导师号" class="col-xs-10 col-sm-5">
                                </div>

                                <div class="col-sm-9">
                                    <input type="submit">
                                    <input type="reset">
                                </div>
                            </div>
                            <!-- 导师搜索name -->

                            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="center">
                                            <label>
                                                <input type="checkbox" class="ace">
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th>导师号</th>
                                        <th>导师名</th>
                                        <th>导师性别</th>
                                        <th>导师资金</th>
                                        <th>导师专业</th>
                                    </tr>
                                </thead>

                                <tbody>
                                {% for item in lists %}
                                <tr>
                                    <td class="center">
                                        <label>
                                            <input type="checkbox" class="ace">
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>
                                        {{ item.teacher_id }}
                                    </td>

                                    <td>
                                        {{ item.teacher_name }}
                                    </td>

                                    <td>
                                        {{ item.teacher_sex }}
                                    </td>

                                    <td>
                                        {{ item.teacher_funds }}
                                    </td>

                                    <td>
                                        {{ item.teacher_subject }}
                                    </td>

                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}