{% extends "manager/manager_index.html" %}
{#地址导航#}
{% block breadcrumb %}
        <li>
		    <i class="icon-home home-icon"></i>
			<a href="manager_own">主页</a>
		</li>
        <li class="active">系统管理</li>
        <li class="active">课程管理</li>
        <li class="active">修改课程</li>
{% endblock %}
{% block content %}
        <div class="page-content">
            <div class="page-header">
                <h1>
                    课程管理
                    <small>
                        <i class="icon-double-angle-right"></i>
                        修改课程
                    </small>
                </h1>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">课程号 </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" placeholder="课程号" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                        <!-- 课程id -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">课程名 </label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-1" placeholder="课程名" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                        <!-- 课程name -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">课程学时 </label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-1" placeholder="课程学时" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                        <!-- 课程time -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">课程学分 </label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-1" placeholder="课程学分" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                        <!-- 课程score -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">课程人数 </label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-1" placeholder="课程人数" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                        <!-- 课程number -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">所属学院 </label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-1" placeholder="课程所在学院" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                        <!-- 课程academic -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">所属专业 </label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-1" placeholder="课程所属专业" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                        <!-- 课程subject -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">授课导师号 </label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-1" placeholder="授课老师id" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                        <!-- 课程teacher_id -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">课程安排 </label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-1" placeholder="周次" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                        <!-- 课程schedule -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">考核方式 </label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-1" placeholder="开卷/闭卷" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                        <!-- 课程method -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">课程性质 </label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-1" placeholder="必修/选修" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                        <!-- 课程nature -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> </label>

                            <div class="col-sm-9">
                                <input type="submit" value="修改">
                                <input type="reset">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
{% endblock %}