{% extends "manager/manager_index.html" %}
{#地址导航#}
{% block breadcrumb %}
        <li>
		    <i class="icon-home home-icon"></i>
			<a href="manager_own">主页</a>
		</li>
        <li class="active">系统管理</li>
        <li class="active">项目管理</li>
        <li class="active">删除项目</li>
{% endblock %}
{% block content %}
        <div class="page-content">
            <div class="page-header">
                <h1>
                    项目管理
                    <small>
                        <i class="icon-double-angle-right"></i>
                        删除项目
                    </small>
                </h1>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">项目编号 </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" placeholder="项目id" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                        <!-- 项目id -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">项目名称 </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" placeholder="项目name" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                        <!-- 项目name -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">项目类型 </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" placeholder="项目type" class="col-xs-10 col-sm-5">
                            </div>
                        </div>
                        <!-- 项目type -->
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> </label>

                            <div class="col-sm-9">
                                <input type="submit" value="删除">
                                <input type="reset">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
{% endblock %}