{% extends "base.html" %}
{% block title %}管理员{% endblock %}
{% block breadcrumb %}
        <li>
		    <i class="icon-home home-icon"></i>
			<a href="manager_own">主页</a>
		</li>
{% endblock %}
{% block rightsideList %}
    <li >
        <a href="manager_own">
            <i class="icon-dashboard"></i>
            <span class="menu-text"> 个人主页 </span>
        </a>
    </li>

    <li >
        <a href="#" class="dropdown-toggle">
            <i class="icon-dashboard"></i>
            <span class="menu-text"> 系统管理 </span>
            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu" style="display: none;">
            <li >
                <a href="#" class="dropdown-toggle">
                    <i class="icon-double-angle-right"></i>
                    用户管理
                    <b class="arrow icon-angle-down"></b>
                </a>
                <ul class="submenu" style="display: none;">
                    <li>
                        <a href="manager_users_add">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 增加用户 </span>
                        </a>
                    </li>
                     <li>
                        <a href="manager_users_delete">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 删除用户 </span>
                        </a>
                    </li>
                     <li>
                        <a href="manager_users_alter">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 修改用户 </span>
                        </a>
                    </li>
                     <li>
                        <a href="manager_users_search">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 查询用户 </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li >
                <a href="#" class="dropdown-toggle">
                    <i class="icon-double-angle-right"></i>
                    课程管理
                    <b class="arrow icon-angle-down"></b>
                </a>
                <ul class="submenu" style="display: none;">
                    <li>
                        <a href="manager_courses_add">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 增加课程 </span>
                        </a>
                    </li>
                     <li>
                        <a href="manager_courses_delete">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 删除课程 </span>
                        </a>
                    </li>
                     <li>
                        <a href="manager_courses_alter">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 修改课程 </span>
                        </a>
                    </li>
                     <li>
                        <a href="manager_courses_search">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 查询课程 </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li >
                <a href="#" class="dropdown-toggle">
                    <i class="icon-double-angle-right"></i>
                    项目管理
                    <b class="arrow icon-angle-down"></b>
                </a>
                <ul class="submenu" style="display: none;">
                    <li>
                        <a href="manager_projects_add">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 增加项目 </span>
                        </a>
                    </li>
                     <li>
                        <a href="manager_projects_delete">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 删除项目 </span>
                        </a>
                    </li>
                     <li>
                        <a href="manager_projects_alter">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 修改项目 </span>
                        </a>
                    </li>
                     <li>
                        <a href="manager_projects_search">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 查询项目 </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li >
                <a href="#" class="dropdown-toggle">
                    <i class="icon-double-angle-right"></i>
                    学术交流管理
                    <b class="arrow icon-angle-down"></b>
                </a>
                <ul class="submenu" style="display: none;">
                    <li>
                        <a href="manager_academic_activity_add">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 增加学术交流 </span>
                        </a>
                    </li>
                     <li>
                        <a href="manager_academic_activity_delete">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 删除学术交流 </span>
                        </a>
                    </li>
                     <li>
                        <a href="manager_academic_activity_alter">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 修改学术交流 </span>
                        </a>
                    </li>
                     <li>
                        <a href="manager_academic_activity_search">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 查询学术交流 </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

    <li >
        <a href="#" class="dropdown-toggle">
            <i class="icon-dashboard"></i>
            <span class="menu-text"> 信息录入 </span>
            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu" style="display: none;">
            <li >
                <a href="#" class="dropdown-toggle">
                    <i class="icon-double-angle-right"></i>
                    学科负责人
                    <b class="arrow icon-angle-down"></b>
                </a>
                <ul class="submenu" style="display: none;">
                    <li>
                        <a href="">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 基本信息 </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 登录信息 </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li >
                <a href="#" class="dropdown-toggle">
                    <i class="icon-double-angle-right"></i>
                    授课教师
                    <b class="arrow icon-angle-down"></b>
                </a>
                <ul class="submenu" style="display: none;">
                    <li>
                        <a href="">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 基本信息 </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 登录信息 </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li >
                <a href="#" class="dropdown-toggle">
                    <i class="icon-double-angle-right"></i>
                    导师
                    <b class="arrow icon-angle-down"></b>
                </a>
                <ul class="submenu" style="display: none;">
                    <li>
                        <a href="manager_tutor_basic_information">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 基本信息录入 </span>
                        </a>
                    </li>
                    <li>
                        <a href="manager_tutor_basic_information_search">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 基本信息查询 </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 登录信息 </span>
                        </a>
                    </li>
                    <li>
                        <a href="manager_tutor_projects_information_search">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 项目情况 </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li >
                <a href="#" class="dropdown-toggle">
                    <i class="icon-double-angle-right"></i>
                    学生
                    <b class="arrow icon-angle-down"></b>
                </a>
                <ul class="submenu" style="display: none;">
                    <li>
                        <a href="manager_student_basic_information">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 基本信息录入 </span>
                        </a>
                    </li>
                    <li>
                        <a href="manager_student_basic_information_search">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 基本信息查询 </span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </li>

    <li >
        <a href="#" class="dropdown-toggle">
            <i class="icon-dashboard"></i>
            <span class="menu-text"> 信息审核 </span>
            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu" style="display: none;">
            <li >
                <a href="#" class="dropdown-toggle">
                    <i class="icon-double-angle-right"></i>
                    毕业审核
                    <b class="arrow icon-angle-down"></b>
                </a>
            </li>

            <li>
                <a href="/manager/manager_project_identify">
                    <i class="icon-dashboard"></i>
                    <span class="menu-text"> 项目审核 </span>
                </a>
            </li>
        </ul>
    </li>


{% endblock %}

{% block content %}

{% endblock %}