{% extends "teacher/teacher_index.html" %}
{% block content %}

<div class="col-sm-6">
										<h3 class="header smaller lighter green">
											<i class="icon-bullhorn"></i>
											Alerts
										</h3>
                                        <!--点击查看，查看申请的页表，取消则自动忽略-->
										<div class="alert alert-block alert-success">
											<button type="button" class="close" data-dismiss="alert">
												<i class="icon-remove"></i>
											</button>

											<p>
												<strong>
													<i class="icon-ok"></i>
													Well done!
												</strong>
												您有一个硕士研究生成果认定
											</p>

											<p>
												<button class="btn btn-sm btn-success">查看</button>
												<button class="btn btn-sm">取消</button>
											</p>
										</div>

										<div class="alert alert-block alert-success">
											<button type="button" class="close" data-dismiss="alert">
												<i class="icon-remove"></i>
											</button>

											<p>
												<strong>
													<i class="icon-ok"></i>
													Well done!
												</strong>
												您有一个硕士研究生成果认定
											</p>

											<p>
												<button class="btn btn-sm btn-success">查看</button>
												<button class="btn btn-sm">取消</button>
											</p>
										</div>

										<div class="alert alert-block alert-success">
											<button type="button" class="close" data-dismiss="alert">
												<i class="icon-remove"></i>
											</button>

											<p>
												<strong>
													<i class="icon-ok"></i>
													Well done!
												</strong>
												您有一个硕士研究生成果认定
											</p>

											<p>
												<button class="btn btn-sm btn-success">查看</button>
												<button class="btn btn-sm">取消</button>
											</p>
										</div>

										<div class="alert alert-block alert-success">
											<button type="button" class="close" data-dismiss="alert">
												<i class="icon-remove"></i>
											</button>

											<p>
												<strong>
													<i class="icon-ok"></i>
													Well done!
												</strong>
												您有一个硕士研究生成果认定
											</p>

											<p>
												<button class="btn btn-sm btn-success">查看</button>
												<button class="btn btn-sm">取消</button>
											</p>
										</div>
									</div>



{% endblock %}