{% extends "base.html" %}
{% block title %}教职工{% endblock %}
{% block rightsideList %}
    <li >
        <a href="teacher/teacher_homepage">
            <i class="icon-dashboard"></i>
            <span class="menu-text"> 个人主页 </span>
        </a>
    </li>

    <li >
        <a href="#" class="dropdown-toggle">
            <i class="icon-dashboard"></i>
            <span class="menu-text"> 导师工作 </span>
            <b class="arrow icon-angle-down"></b>
        </a>
        <ul class="submenu" style="display: none;">
            <li>
                <a href="#">
                    <i class="icon-dashboard"></i>
                    <span class="menu-text"> 我的学生 </span>
                </a>
            </li>

            <li>
                <a href="/teacher/teacher_myProject">
                    <i class="icon-dashboard"></i>
                    <span class="menu-text"> 我的项目 </span>
                </a>
            </li>

            <li>
                <a href="/teacher/teacher_fill_in_funds">
                    <i class="icon-dashboard"></i>
                    <span class="menu-text"> 填报项目经费 </span>
                </a>
            </li>

            <li>
                <a href="/teacher/teacher_academic_activity_aduit">
                    <i class="icon-dashboard"></i>
                    <span class="menu-text"> 学术交流审核评价 </span>
                </a>
            </li>
            <li>
                <a href="/teacher/teacher_achievement_aduit">
                    <i class="icon-dashboard"></i>
                    <span class="menu-text"> 成果认定初审 </span>
                </a>
            </li>
        </ul>
    </li>

    <li >
        <a href="#" class="dropdown-toggle">
            <i class="icon-dashboard"></i>
            <span class="menu-text"> 授课工作 </span>
            <b class="arrow icon-angle-down"></b>
        </a>
        <ul class="submenu" style="display: none;">
            <li>
                <a href="/teacher/teacher_myCourse">
                    我的课程
                </a>
            </li>

            <li>
                <a href="/teacher/teacher_assistant_volunteer_evaluate">
                    <i class="icon-double-angle-right"></i>
                    助教评价
                </a>
            </li>

            <li>
                <a href="/teacher/teacher_assistant_volunteer_select">
                    <i class="icon-double-angle-right"></i>
                    助教选取
                </a>
            </li>
        </ul>
    </li>

    <li >
        <a href="#" class="dropdown-toggle">
            <i class="icon-dashboard"></i>
            <span class="menu-text"> 学院管理 </span>
            <b class="arrow icon-angle-down"></b>
        </a>
        <ul class="submenu" style="display: none;">
            <li>
                <a href="#" class="dropdown-toggle">
                    <i class="icon-double-angle-right"></i>
                    学科负责人
                    <b class="arrow icon-angle-down"></b>
                </a>
                <ul class="submenu" style="display: none;">
                    <li>
                        <a href="">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 查看学科导师 </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 查看研究生培养情况 </span>
                        </a>
                    </li>
                    <li>
                        <a href="teacher/teacher_assistant_volunteer_apply">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 助教申报工作 </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 项目经费工作 </span>
                        </a>
                    </li>
                    <li>
                        <a href="/teacher/head_teacher_academic_activity_aduit">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> 学术交流工作 </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="form-wizard.html">
                    <i class="icon-double-angle-right"></i>
                    院长工作
                </a>
            </li>

        </ul>
    </li>
        <li >
        <a href="#" class="dropdown-toggle">
            <i class="icon-dashboard"></i>
            <span class="menu-text"> 行政管理 </span>
            <b class="arrow icon-angle-down"></b>
        </a>
        <ul class="submenu" style="display: none;">
        </ul>
    </li>
{% endblock %}

{% block content %}
    {% if inf %}
        <h3 class="header smaller lighter green">{{ inf }}</h3>
    {% endif %}
{% endblock %}
